<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.promtnow_rot">

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo2"
        android:label="@string/app_RST"
        android:roundIcon="@mipmap/logo2_round"
        android:supportsRtl="true"
        android:theme="@style/TranslucentStatusBar"
        android:usesCleartextTraffic="true"
        tools:replace="android:label">
        <activity android:name=".homepage.HomePageActivity" />
        <activity android:name=".money.MoneyActivity" />
        <activity android:name=".profile.EditProfileActivity" />
        <activity
            android:name=".add.ActivityForm"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".profile.ProfileActivity" />
        <activity android:name=".request.RequestActivity" />
        <activity
            android:name=".add.AddActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".setting.SettingActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity android:name=".homepage.MainPageActivity" />
        <activity android:name=".LauncherActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".register.RegisterActivity"
            android:windowSoftInputMode="adjustPan" />
        <activity
            android:name=".LoginActivity"
            android:windowSoftInputMode="adjustPan" />

        <meta-data
            android:name="preloaded_fonts"
            android:resource="@array/preloaded_fonts" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.provider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>